<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.platform.mapper.InternalMessageMapper" >
  <resultMap id="BaseResultMap" type="com.tx.platform.entity.InternalMessageEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="addtime" property="addtime" jdbcType="TIMESTAMP" />
    <result column="adduserid" property="adduserid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, uid, message, status, addtime, adduserid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_internal_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_internal_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tx.platform.entity.InternalMessageEntity" >
    insert into t_internal_message (id, uid, message, 
      status, addtime, adduserid
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, #{message,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{addtime,jdbcType=TIMESTAMP}, #{adduserid,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tx.platform.entity.InternalMessageEntity" >
    insert into t_internal_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="message != null" >
        message,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="addtime != null" >
        addtime,
      </if>
      <if test="adduserid != null" >
        adduserid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="addtime != null" >
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserid != null" >
        #{adduserid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.platform.entity.InternalMessageEntity" >
    update t_internal_message
    <set >
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="addtime != null" >
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="adduserid != null" >
        adduserid = #{adduserid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.platform.entity.InternalMessageEntity" >
    update t_internal_message
    set uid = #{uid,jdbcType=INTEGER},
      message = #{message,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      adduserid = #{adduserid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--统计未读短信-->
  <select id="countUnreadLetters" resultType="java.util.Map">
    SELECT
      IFNULL(SUM(CASE WHEN status=1 THEN 1 ELSE 0 END),0) AS isread,
      IFNULL(sum(CASE WHEN status=0 THEN 1 ELSE 0 END),0) AS noread
    FROM
    t_internal_message
    WHERE uid=#{uid}
    <if test="bdate != null and bdate != null">
      AND DATE_FORMAT(addtime, '%Y-%m-%d') BETWEEN #{bdate} AND #{edate}
    </if>
  </select>
</mapper>