<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.platform.mapper.JuniorProxyUserMapper" >
  <resultMap id="BaseResultMap" type="com.tx.platform.entity.JuniorProxyUserEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="up_id" property="upId" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="up_time" property="upTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="domain" property="domain" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="QQ" property="qq" jdbcType="VARCHAR" />
    <result column="bankname" property="bankname" jdbcType="VARCHAR" />
    <result column="bankcode" property="bankcode" jdbcType="VARCHAR" />
    <result column="bankaddress" property="bankaddress" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="proxy_user_id" property="proxyUserId" jdbcType="INTEGER" />
    <result column="rmk" property="rmk" jdbcType="VARCHAR" />
    <result column="user_type" property="userType" jdbcType="VARCHAR" />
    <result column="referral_code" property="referralCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_name, name, up_id, type, up_time, status, domain, email, QQ, bankname, bankcode, 
    bankaddress, mobile, proxy_user_id, rmk, user_type, referral_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_junior_proxy_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_junior_proxy_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tx.platform.entity.JuniorProxyUserEntity" >
    insert into t_junior_proxy_user (id, user_name, name, 
      up_id, type, up_time, 
      status, domain, email, 
      QQ, bankname, bankcode, 
      bankaddress, mobile, proxy_user_id, 
      rmk, user_type, referral_code
      )
    values (#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{upId,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{upTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=VARCHAR}, #{domain,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{qq,jdbcType=VARCHAR}, #{bankname,jdbcType=VARCHAR}, #{bankcode,jdbcType=VARCHAR}, 
      #{bankaddress,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{proxyUserId,jdbcType=INTEGER}, 
      #{rmk,jdbcType=VARCHAR}, #{userType,jdbcType=VARCHAR}, #{referralCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tx.platform.entity.JuniorProxyUserEntity" >
    insert into t_junior_proxy_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="upId != null" >
        up_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="upTime != null" >
        up_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="domain != null" >
        domain,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="qq != null" >
        QQ,
      </if>
      <if test="bankname != null" >
        bankname,
      </if>
      <if test="bankcode != null" >
        bankcode,
      </if>
      <if test="bankaddress != null" >
        bankaddress,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="proxyUserId != null" >
        proxy_user_id,
      </if>
      <if test="rmk != null" >
        rmk,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="referralCode != null" >
        referral_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="upId != null" >
        #{upId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        #{domain,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankcode != null" >
        #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="bankaddress != null" >
        #{bankaddress,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="proxyUserId != null" >
        #{proxyUserId,jdbcType=INTEGER},
      </if>
      <if test="rmk != null" >
        #{rmk,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="referralCode != null" >
        #{referralCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.platform.entity.JuniorProxyUserEntity" >
    update t_junior_proxy_user
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="upId != null" >
        up_id = #{upId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="upTime != null" >
        up_time = #{upTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="domain != null" >
        domain = #{domain,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        QQ = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="bankname != null" >
        bankname = #{bankname,jdbcType=VARCHAR},
      </if>
      <if test="bankcode != null" >
        bankcode = #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="bankaddress != null" >
        bankaddress = #{bankaddress,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="proxyUserId != null" >
        proxy_user_id = #{proxyUserId,jdbcType=INTEGER},
      </if>
      <if test="rmk != null" >
        rmk = #{rmk,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        user_type = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="referralCode != null" >
        referral_code = #{referralCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.platform.entity.JuniorProxyUserEntity" >
    update t_junior_proxy_user
    set user_name = #{userName,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      up_id = #{upId,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      up_time = #{upTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      domain = #{domain,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      QQ = #{qq,jdbcType=VARCHAR},
      bankname = #{bankname,jdbcType=VARCHAR},
      bankcode = #{bankcode,jdbcType=VARCHAR},
      bankaddress = #{bankaddress,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      proxy_user_id = #{proxyUserId,jdbcType=INTEGER},
      rmk = #{rmk,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=VARCHAR},
      referral_code = #{referralCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectProxyByReferralCode" resultType="com.tx.platform.vo.ProxyVO">
    SELECT
      a.up_id AS proxyId,c.id AS topUid,b.d_user_type as typeId FROM
    t_junior_proxy_user a
    LEFT JOIN
    t_proxy_user b ON a.proxy_user_id=b.id
    LEFT JOIN `user` c ON
    b.user_name=c.login_name
    where
    <if test="referralCode != null">
      and a.referral_code=#{referralCode}
    </if>
    <if test="proxyName != null">
      and a.user_name = #{proxyName}
    </if>
    a.referral_code = #{referral_code}
  </select>
</mapper>