<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tx.platform.mapper.UserQuantityMapper" >
  <resultMap id="BaseResultMap" type="com.tx.platform.entity.UserQuantityEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cid" property="cid" jdbcType="INTEGER" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="marking_quantity" property="markingQuantity" jdbcType="DOUBLE" />
    <result column="user_quantity" property="userQuantity" jdbcType="DOUBLE" />
    <result column="winAmount" property="winamount" jdbcType="DOUBLE" />
    <result column="user_winAmount" property="userWinamount" jdbcType="DOUBLE" />
    <result column="user_quantity_history" property="userQuantityHistory" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cid, uid, marking_quantity, user_quantity, winAmount, user_winAmount, user_quantity_history
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_user_quantity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_user_quantity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tx.platform.entity.UserQuantityEntity" >
    insert into t_user_quantity (id, cid, uid, 
      marking_quantity, user_quantity, winAmount, 
      user_winAmount, user_quantity_history)
    values (#{id,jdbcType=INTEGER}, #{cid,jdbcType=INTEGER}, #{uid,jdbcType=INTEGER}, 
      #{markingQuantity,jdbcType=DOUBLE}, #{userQuantity,jdbcType=DOUBLE}, #{winamount,jdbcType=DOUBLE}, 
      #{userWinamount,jdbcType=DOUBLE}, #{userQuantityHistory,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.tx.platform.entity.UserQuantityEntity" >
    insert into t_user_quantity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="cid != null" >
        cid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="markingQuantity != null" >
        marking_quantity,
      </if>
      <if test="userQuantity != null" >
        user_quantity,
      </if>
      <if test="winamount != null" >
        winAmount,
      </if>
      <if test="userWinamount != null" >
        user_winAmount,
      </if>
      <if test="userQuantityHistory != null" >
        user_quantity_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cid != null" >
        #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="markingQuantity != null" >
        #{markingQuantity,jdbcType=DOUBLE},
      </if>
      <if test="userQuantity != null" >
        #{userQuantity,jdbcType=DOUBLE},
      </if>
      <if test="winamount != null" >
        #{winamount,jdbcType=DOUBLE},
      </if>
      <if test="userWinamount != null" >
        #{userWinamount,jdbcType=DOUBLE},
      </if>
      <if test="userQuantityHistory != null" >
        #{userQuantityHistory,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tx.platform.entity.UserQuantityEntity" >
    update t_user_quantity
    <set >
      <if test="cid != null" >
        cid = #{cid,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="markingQuantity != null" >
        marking_quantity = #{markingQuantity,jdbcType=DOUBLE},
      </if>
      <if test="userQuantity != null" >
        user_quantity = #{userQuantity,jdbcType=DOUBLE},
      </if>
      <if test="winamount != null" >
        winAmount = #{winamount,jdbcType=DOUBLE},
      </if>
      <if test="userWinamount != null" >
        user_winAmount = #{userWinamount,jdbcType=DOUBLE},
      </if>
      <if test="userQuantityHistory != null" >
        user_quantity_history = #{userQuantityHistory,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tx.platform.entity.UserQuantityEntity" >
    update t_user_quantity
    set cid = #{cid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=INTEGER},
      marking_quantity = #{markingQuantity,jdbcType=DOUBLE},
      user_quantity = #{userQuantity,jdbcType=DOUBLE},
      winAmount = #{winamount,jdbcType=DOUBLE},
      user_winAmount = #{userWinamount,jdbcType=DOUBLE},
      user_quantity_history = #{userQuantityHistory,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>